/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconProfile {
	background:url('../img/exticon.png') no-repeat 0 0px;
}

h1.extIconProfile .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* --------------
	Tab icons
   -------------- */
#content-tabs .tabkey-main .icon {
	background:url("../img/icons.png") no-repeat scroll 0 6px transparent;
}

#content-tabs .tabkey-password .icon {
	background:url("../img/icons.png") no-repeat scroll 0 -25px transparent;
}