/* -----------------
	Submenu
   ----------------- */

	/* Profile */
#navi-main-list-todoyu li.itemProfile a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px 3px;
}